<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拳皇</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <!-- 引用jQuery -->
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>

</head>

<body>
    <!-- 总体div -->
    <div id="kof"></div>


    <script type="module">
        import { KOF } from '/static/js/base.js';
        // 总体div实例化 引用js
        let kof = new KOF('kof');
    </script>
</body>

</html>